/* Global & generics */

* {
    --darkblue: #54838D;
    --lightblue: #B1CACE;
    --bluewhite: #E0EAEC;
    --white: #F7F7F7;
    --red: #BB5C4F;
    --black: #070707;
    
    font-size: 16px;
    color: var(--black);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
    color: var(--darkblue);
    text-decoration: none;
}

a:hover {
    color: var(--lightblue);
}

h2 {
    font-size: 2rem;
    color: #54838D;
}

h3 {
    font-size: 1.5rem;
    color:#54838D;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 15px;
    font-weight: 500;
}

/* Header & Nav */

header {
    background-color: var(--bluewhite);
}

nav {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 1%;
}

nav img {
    width: 10%;
    align-items: center;
}

nav a {
    font-size: 1.25rem;
}

/* Main */

main {
    margin-bottom: 150px;
    max-width: 1000px;
    margin: auto;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}

#about-content {
    flex-direction: column;
    flex: 2;
    padding: 20px;
    padding-left: 0;
}

#about img {
    flex: 1;
    /* flex-shrink: 100%; */
    align-items: end;
    align-self: stretch;
    margin-left: 5%;
    padding: 0px;
    
}

.project-info {
    display: none;
}

/* Footer */

footer {
    display: flex;
    margin-top: 5%;
    background-color: #F7F7F7;
}

footer ul {
    padding: 5%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Device styles */

@media only screen and (max-width: 1000px) {
    main {
        margin: 5%;
    }
}
  

@media only screen and (max-width: 780px) {
    h2 {
        font-size: 1.25rem;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    #about img {
      display: none;
    }
}