:root {
    --darkblue: #54838D;
    --lightblue: #B1CACE;
    --bluewhite: #E0EAEC;
    --white: #F7F7F7;
    --red: #BB5C4F;
    --black: #070707;
    
    font-size: 16px;
    color: #070707;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
    color: var(--darkblue);
    text-decoration: none;
}

a:hover {
    color: var(--lightblue);
}

header {
    background-color: var(--bluewhite);
    padding: 1%;
}

header img {
    width: 10%;
    
    /* Circle mask */
    /* border-radius: 100%;
    overflow: hidden;
    margin:0 auto; */
}

ul {
    list-style-type: none;
}

nav {
    display: inline;
    margin: 15px;
}

nav ul a {
    font-size: 1.25rem;
}

li {
    display: inline;
    margin: 15px;
}

main {
    height: 500px;
}

h2 {
    font-size: 2rem;
}

footer {
    height: 100px;
    padding: 1%;
}